div.cell {
	width: 20px;
	height: 20px;
}
table {
	border-collapse: collapse;
}
td {
	border: 1px solid black;
}
td.o_left{
	border-left: 1px solid white;
}
td.o_right{
	border-right: 1px solid white;
}
td.o_up{
	border-top: 1px solid white;
}
td.o_down{
	border-bottom: 1px solid white;
}
td.exit{
    background-image:url('exit.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
div.man{
	background-image: url("man.png");
	background-size: 100%;
	background-repeat: no-repeat;
}